
body {
	background-color: black;
}

#content {
	margin: 0 auto;  /* this will center the div */
	width: 1000px;
}

#game-area {
	/*border-collapse: collapse;*/
	width: 100%;
	height: 600px;
}

#game-area td {
	/*display: inline-block;*/
	/*padding: 3px;*/
	/*width: 40px;*/
	/*height: 40px;*/
}

.alive {
	background-color: forestgreen;
}

.dead {
	background-color: maroon;
}

.input {
	cursor: pointer;
}

.input:hover {
	opacity: 0.8;
}

#start-game-button {
	width: 100%;
}

.footer {
	font-size: 75%;
	color: gray;
	word-wrap: break-word;
}

.footer a {
	color: gray;
}